---
---

/* force scrollbar, prevents initial gap */
// html {
//   //The overflow-y property specifies whether to clip the content, add a scroll bar, or display overflow content of a block-level element, when it overflows at the top and bottom edges.
//   overflow-y: scroll;
// }

// html, body {
//   height: 100%;
// }

body {
  background: #000;
  //filler as to override intervening stop user agent stylesheet
  margin: 0px;
  padding: 0px;
}

.swiper {
  //Swiper take 100% of the height of viewport:
  height: 100vh;
}

.swiper-slide img {
  //display: block;
  //fit to height
  height: 100%;
}

