<!DOCTYPE html>
<!-- <html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
  </head> -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/{{ "css/swiper_fullscreen.css" }}"/>


<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for picture in include.gallery.pictures %}
      <div class="swiper-slide" data-hash="slide{{ forloop.index }}">
        <img alt="{{ picture.title }}" src="{{ picture.original }}" />
      </div>
      {% endfor %}
    </div>
    <!-- If we need pagination -->
    <!-- <div class="swiper-pagination"></div> -->
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->

  </div>

<div class="swiper2">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% for picture in include.gallery.pictures %}
    <div class="swiper-slide" data-hash="slide{{ forloop.index }}">
      <img alt="{{ picture.title }}" src="{{ picture.thumbnail }}" />
    </div>
    {% endfor %}
  </div>
</div>

<script type="text/javascript">

    const swiper2 = new Swiper('.swiper2', {
      /*
        Because of nature of how the loop mode works, it will add duplicated slides. 
        Such duplicated slides will have additional classes:
        swiper-slide-duplicate - represents duplicated slide
        swiper-slide-duplicate-active - represents slide duplicated to the currently active slide
        swiper-slide-duplicate-next - represents slide duplicated to the slide next to active
        swiper-slide-duplicate-prev - represents slide duplicated to the slide previous to active
      */
      //loop: true,
      slidesPerView: {{ include.gallery.pictures.size }} > 4 ? 4 : {{ include.gallery.pictures.size }},
      //'auto',
      //If you use slidesPerView: 'auto' or slidesPerView > 1, then you should also enable watchSlidesProgress and Swiper will load images in currently visible slides
      //watchSlidesProgress: true,
      //If you use slidesPerView:'auto' with loop mode you should tell to Swiper how many slides it should loop (duplicate) using this parameter
      //loopedSlides: {{ include.gallery.pictures.size }}

      //how many px it takes for the drag event to be fired(and possibly override the click event)
      threshold: 20
    });

    const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    //loop: true,
    slidesPerView: 1,
    centeredSlides: true,
    hashNavigation: 
    {
      //true,
      //watchState: true
      replaceState: true
    },
    // If we need pagination
    // pagination: {
    //   el: '.swiper-pagination',
    // },

    // Navigation arrows
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },

    thumbs: {
      swiper: swiper2
    },
    // And if we need scrollbar
    // scrollbar: {
    //   el: '.swiper-scrollbar',
    // },
    //freemode : false

    });

</script>
<!-- </html> -->